
/*Top Navigation Bar, with specific elements */
.TopNavigationBar {
    background-color: rgb(49, 116, 175);
}

.TopNavigationBar ul {
    list-style-type: none;
}

.TopNavigationBar li {
    display: inline-block;
}

.TopNavigationBar a {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: block;
    padding: 20px;
}

.TopNavigationBar a:hover {
    background-color: rgb(37, 94, 145);
}

.NavigationActive {
    background-color: aqua;
}