
/*Top Navigation Bar, with specific elements */
.TopNavigationBar

.TopNavigationBar ul {
    list-style-type: none;
}

.TopNavigationBar li {
    display: inline-block;
}

.TopNavigationBar a {
    display: block;
    padding: 20px;
    background-color: aliceblue;
}