{% extends "base.html" %}
{% block title %}Add Tutorial{% endblock %}
{% block content %}
<main class="main_sect_tut" style="justify-content: center;">
    <div class="main_sect_tut_text">
        <h1>
            How to add a room's week list from <a href="https://clic.mmu.edu.my/psp/csprd/?cmd=login&languageCd=ENG&" target="_blank">CLiC</a>:
        </h1>
        <ol>
            <li>Log into <a href="https://clic.mmu.edu.my/psp/csprd/?cmd=login&languageCd=ENG&" target="_blank">CLiC</a> and navigate to "<a href="https://clic.mmu.edu.my/psp/csprd/EMPLOYEE/SA/c/N_VR.N_VR_USER_APP_CMP.GBL" target="_blank">Venue Reservation Application</a>"</li>
            <li>Click "Venue Calendar" and type room name without pressing Enter (If the "Monthly" calendar displays events, it worked)</li>
            <li>Click "Week List" (If schedule does not appear, repeat from step 3)</li>
            <li>Hold right click, drag over weekly schedule, and Copy</li>
            <li>Paste and submit schedule on FCI Map!</li>
        </ol>
        <p>If errors occur, refresh the page</p>
        <h1>Thank you for your help!</h1>
        <p><a href="/schedule_input/" class="backtoscheduleinput" style="color: white; text-decoration: none;">Back to Add Schedule</a></p>
    </div>
    <div class="main_sect_tut_vid">
        <div class="vid1">
        <span><strong>Navigate to Venue Reservation Application</strong></span></br>
        <video width="400" height="225" controls  loop muted>
            <source src="{{url_for('static', filename='/clic_add_schedule_tutorial/search_venue_application.mp4')}}">
            Your browser does not support the video tag.
        </video>
        </div>
        <div class="vid2">
        <span><strong>Select Room and Copy</strong></span></br>
        <video width="400" height="225" controls  loop muted>
            <source src="{{url_for('static', filename='/clic_add_schedule_tutorial/search_room_copy.mp4')}}">
            Your browser does not support the video tag.
        </video>
    </div>
    </div>
</main>
{% endblock %}