{% extends "base.html" %}

{% block title %}
FCI Map - Home
{% endblock %}



{% block content%}
<body><h1>FCI Map</h1>
<p>Navigation buttons</p>
<a href= "\map">MMU Map</a>
<ul>
    <li>4th floor</li>
    <li>3rd floor</li>
    <li>2nd floor</li>
    <li>1st floor</li>
    <li>Ground floor</li>
</ul>
{% if Meow == True %}
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mGQ7lrpUCrM?si=q0YqSt3NPMdvfK9G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endif %}
</body>
{% endblock %}