{% extends "base.html" %}

{% block title %}
Icon Descriptions
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/icon_descriptions.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Icon Descriptions</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="icon-box">
                <img src="{{ url_for('static', filename='images/roomempty.png') }}" alt="Empty Room" class="icon-image">
                <h5>Empty Room</h5>
                <p>This room is empty</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box">
                <img src="{{ url_for('static', filename='images/roomoccupied.png') }}" alt="Occupied Room" class="icon-image">
                <h5>Occupied Room</h5>
                <p>
                Indicates that the room is currently in use and cannot be reserved
            </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box">
                <img src="{{ url_for('static', filename='images/roominactive.png') }}" alt="Inactive Room" class="icon-image">
                <h5>Inactive Room</h5>
                <p>Room is inactive for now.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}