{% extends "base.html" %}

{% block title %}Add Schedule
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
<div class="schedule_input_main_div" style="justify-content: center;">
    <form class="schedule_input_form" method="POST">
        <h2>CLiC Schedule</h2>
        <p><a href="/schedule_input/clic_add_tutorial/">Click here for a guide</a></p>
        <label for="schedule_input"><strong>Enter room schedule from CLiC:</strong></label>
        <textarea class="textarea" id="schedule_input" name="schedule_input" placeholder=
"Copy and paste Week List schedule! e.g.

September 16, 2024
2:00pm - 4:00pm		CQAR2006 : CSP1123 - LEC (TC3L)
September 17, 2024
8:00am - 10:00am		CQAR2006 : CSP1123 - LEC (TC4L)
etc."
rows="10" cols="25" maxlength="2000" style="resize: none;" required></textarea>
        <br>
        <input type="submit" value="Submit" style="width: 100%;">
    </form>
    <form class="custom_schedule_form" method="POST">
        <h2>Custom input</h2><br/>
        <label for="custom_schedule_search_room"><strong>Room:</strong></label><br/>
        <input class="textarea" list="custom_schedule_search_room_foo" name="custom_schedule_search_room" id="custom_schedule_search_room" placeholder="Enter Room ID" value="{% if session['custom_schedule_search_room'] %}{{session['custom_schedule_search_room']}}{% endif %}" required><br/>
                <datalist id="custom_schedule_search_room_foo">
                    {% if session['search_suggestion']%}
                        {% for i in session['search_suggestion']["name"] %}
                        <option value="{{i}}">
                        {% endfor %}
                    {% endif %}
                </datalist>
        <label for="custom_schedule_datetime"><strong>Starting Date and Time:</strong></label><br/>
        <input class="textarea" type="datetime-local" id="custom_schedule_datetime" name="custom_schedule_datetime" min="{{current_time.strftime('%Y-%m-%dT%H:%M')}}" max="{{current_time_max.strftime('%Y-%m-%dT%H:%M')}}" value="{% if session['custom_schedule_datetime'] %}{{session['custom_schedule_datetime']}}{% endif %}" required><br/>
    <label for="custom_schedule_hours"><strong>Duration (hours):</strong></label>
    <select class="textarea" name="custom_schedule_hours" id="custom_schedule_hours" required>
        <option value="1" {% if session['custom_schedule_hours'] == '1' %}selected{% endif %}>1 Hour</option>
        <option value="2" {% if session['custom_schedule_hours'] == '2' %}selected{% endif %}>2 Hours</option>
        <option value="3" {% if session['custom_schedule_hours'] == '3' %}selected{% endif %}>3 Hours</option>
        <option value="4" {% if session['custom_schedule_hours'] == '4' %}selected{% endif %}>4 Hours</option>
        <option value="5" {% if session['custom_schedule_hours'] == '5' %}selected{% endif %}>5 Hours</option>
    </select><br/>
    <span><strong>Status:</strong></span><br/>
    <div class="textarea">
    <input type="radio" id="empty" name="custom_room_status" value="-10" {% if session['custom_room_status'] == '-10' %}checked{% endif %} required>
    <label for="empty">Empty</label><br/>
    <input type="radio" id="occupied" name="custom_room_status" value="10" {% if session['custom_room_status'] == '10' %}checked{% endif %} required>
    <label for="occupied">Occupied</label>
    </div>
    <label for="custom_schedule_textarea"><strong>Description:</strong></label><br/>
    <textarea class="textarea" id="custom_schedule_textarea" name="custom_schedule_textarea" placeholder="Description here" rows="2" cols="30" maxlength="100" required>{% if session['custom_schedule_textarea'] %}{{session['custom_schedule_textarea']}}{% endif %}</textarea><br/>
        <input type="submit" value="Submit" style="width: 100%;">
    </form>
</div>
{% endblock %}