{% extends "base.html" %}
{% block title %}Successful Sign Up{% endblock %}
{% block head %}
    <style>
        .mainsect {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            margin: 0;
        }
        .success-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
            border-top: 5px solid green;
        }
        .success-container h1 {
            color: blue;
            margin-bottom: 20px;
        }
        .success-container p {
            color: #333;
            margin-top: 10px;
        }
        .success-container a {
            color: red;
            text-decoration: none;
        }
        .success-container a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block content %}
<body>
    <main class="mainsect">
    <div class="success-container">
        <h1>Sign Up Successful</h1>
        <p>Your email has been registered. You can now <a href="{{ url_for('login') }}">log in</a>.</p>
    </div>
    </main>
</body>
{% endblock %}